*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.box{
    width: 1000px;
    height: 500px;
    background-color: blue;
    position: relative;
    margin: 80px auto;
    font-weight: 800;
    color: white;
    font-size: 30px;
}

.d1{
    width: 200px;
    height: 200px;
    background-color: black;
    position: absolute;
}

.d2{
    width: 200px;
    height: 200px;
    background-color: gold;
    position: absolute;
    top: 300px;
}

.d3{
    width: 200px;
    height: 200px;
    background-color: red;
    position: absolute;
    top: 300px;
    left: 800px;
}

.d4{
    width: 200px;
    height: 200px;
    background-color: green;
    position: absolute;
    left: 800px;
}

.d5{
    width: 200px;
    height: 200px;
    background-color: pink;
    position: absolute;
    left: 400px;
    top: 150px;
}